table {
    width: 100%;
    border-collapse: collapse;

    box-shadow: 2px 2px 3px 0px rgba(97,97,97,0.8);

    border-radius: 0.2rem;

    padding-right: 0.8rem;
}

th {
    font-size: 1.5rem;
    color: #222;
    padding: 1.4rem 0.8rem;
}

th  {
    text-align: start;
}